#content {
    font-size: 100px;
}

.editor {
  font-size: 12px;
  font-variant-ligatures: common-ligatures;
  background-color: #fafafa;
  border-radius: 3px;
}

.editor textarea {
  outline: 0;
}

.editor textarea, .editor pre {
  word-break: break-all !important;
}


/*.gist-highlight {*/
/*  border-left: 3ex solid #eee;*/
/*  position: relative;*/
/*}*/

.editor pre {
  counter-reset: linenumbers;
}

.editor pre .nl:before {
  color: #000;
  content: counter(linenumbers);
  counter-increment: linenumbers;
  left: -5ex;
  position: absolute;
  text-align: right;
  width: 4.5ex;
}